{% extends 'base.html.twig' %}
    {% block title %}{{ categoryName }}{% endblock %}
{% block body %}
    <h1> Catégorie : {{ categoryName }}</h1>
    {% for movie in movies %}
        <br/>
        <div class="media">
            <div class="cat">
                <h2 class="mt-0">{{ movie.id }} - {{ movie.title }}</h2>
                <p>{{ movie.summary }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}