{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Toutes les séries : </h1>
    {% for program in programs %}
        <div>
            <a class="nav-link" href="{{ path('show', { 'slug': program.title }) }}"><h2>{{ loop.index }} / {{ program.title }}</h2></a>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

{% endblock %}