{% extends 'base.html.twig' %}
{% block title %}{{ title.title }}{% endblock %}

{% block body %}
    <h1>Programme {{ title.title }}</h1>
    <ul>
    {% for seasons in season %}
        <li><a href="{{ path('id', { 'id': seasons.id }) }}">Saison {{ seasons.id }} - Année {{ seasons.year }}</a></li>
    {% endfor %}
    </ul>

{% endblock %}