{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>
            <p><a class="program_link" href="{{ path('program', { 'program': program.title }) }}">Seasons of {{ program.title }}</a></p>
        </div>
    </div>

{% endblock %}